body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding:0;
}

.social-bar {
  position: fixed;
  top: calc(50% - 110px);
  left: -10px;
  z-index: 2;
}

.social-bar ul {
  list-style: none;
}

.social-bar ul li a {
  color: #fff;
  padding: 10px 15px 10px 25px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: relative;
  left: 0;
}

.social-bar ul li a:hover {
  left: 10px;
  z-index: 2;
}

.fb{background: #3b5998;}
.tw{background: #55acee;}
.gp{background: #dd4b39;}
.yt{background: #ff0000;}
.ml{background: #00bf8f;}

.my-navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: safe;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.menu {
  display: flex;
}

.menu-item {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.center {
  text-align: center;
}

.flex-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
  height: 100vh;
}

.relative {
  position: relative;
}

h1,
h2 {
  color: white;
  font-size: 60px;
  line-height: 1;
}

h2 {
  font-size: 90px;
}

.button {
  background-color: #da9249;
  color: white;
  font-size: 20px;
  padding: 8px 50px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 20px;
  border: none;
  text-transform: uppercase;
  box-shadow: 1px 1px 33px 3px black;
}

.button:hover {
  background: #ce8f50;
}
