.button {
  background-color: #da9249;
  color: white;
  font-size: 20px;
  padding: 8px 50px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 20px;
  border: none;
  text-transform: uppercase;
  box-shadow: 1px 1px 33px 3px black;
}

.button:hover {
  background: #ce8f50;
}
