.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 860px;
  margin: 0 auto;
}

.my-navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
}

.menu-item {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.menu-link {
  padding: 5px 10px;
  border-radius: 25px;
}

.menu-link:hover {
  background: rgba(0, 0, 0, 0.7)
}
